<div class="comment-item">
  <article>
    <header class="meta">
      <span>{{@comment.user}}</span>
      <span>{{@comment.time_ago}}</span>
    </header>
  </article>
  <div class="content">
    {{{@comment.content}}}
  </div>

  {{yield @comment.comments}}
</div>
