<main class="about mainView">
  <h1>About this site</h1>

  <p>HackerNews Progressive Web App Demoware written in <a href="glimmerjs.com">Glimmer</a>. Glimmer is one of the fastest DOM rendering engines, delivering exceptional performance for initial renders as well as updates. Architected like a virtual machine (VM), Glimmer compiles your templates into low-level code so it can run as fast as possible—without sacrificing ease of use.</p>

  <p>Where other small component libraries leave you to figure out everything from directory structure to build tooling, Glimmer apps are built with Ember CLI, so you get a production-ready build pipeline in seconds. No fussy configuration files needed.</p>
</main>
