<div>
  {{#each @comments key="index" as |comment|}}
    <article>
      <header>
        <span>{{comment.user}}</span>
        <span>{{comment.time_ago}}</span>
      </header>
    </article>
    <div>
      {{{comment.content}}}
    </div>

    {{#if comment.comments}}
      <comment-list @comments={{comment.comments}} />
    {{/if}}
  {{/each}}
</div>
